.advantages-slider{
    margin-top: 32px;
}
.advantages {
    .col-lg-3 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.advantage {
    text-align: center;
}

.advantage:nth-child(-n+4) {
    margin-bottom: 48px;

}

.advantage:last-child {
    margin-bottom: 90px;
}

h4.advantage-title {
    font-size: 18px;
    line-height: 124.5%;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.advantage-img {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;
    position: relative;
}

.advantage-img:before {
    content: "";
    border: 1px solid #6C7188;
    width: 113px;
    height: 113px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

section.advantages.container-fluid {
    padding: 90px 20px 52px;
}
