<section class="about-company">
    <div class="container">
        <div class="template-title text-left">
            <h2>О компании</h2>
        </div>
        <div class="about-company-content">
            <div class="about-company-description">
                <p class="about-company-description-one">Компания Азия Карго - это полный комплекс логистических услуг по
                    доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао,
                    КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более
                    4 лет, а руководители компании занимаются логистикой уже более 11 лет.
                </p>
                <p class="about-company-description-two">Мы стремимся предоставить лучшие условия доставки и лучший сервис
                    своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени!
                    Убедитесь в этом сами!</p>
            </div>
            
           
        </div>
       


    </div>

</section>