<footer>
	<div class="container">
		<div class="footer-main">
			<div class="col-md-3 col-sm-12 footer-address-and-social">
				<picture>
					<img src="assets/img/logo-lg.svg" alt="">
				</picture>
				<ul>
					<li><a href="#" class="address-block">8(800)600-18-69
						</a></li>
					<li><a href="#" class="address-block"><span>info@cargoasia.info</span></a></li>
					<li><a href="#" class="address-block"> Адрес в Китае: <address> 浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军
								电话15966660379</address>
						</a></li>

				</ul>
				<div class="social-images">
					<div><img src="assets/img/instagram.svg" alt=""></div>
					<div><img src="assets/img/vkontakte.svg" alt=""></div>
					<div><img src="assets/img/telegram.svg" alt=""></div>
				</div>
			</div>
			<div class="col-md-3 about-trucking">
				<h4 class="about-title">Грузоперевозки</h4>
				<ul class="list-of-about">
					<li><a href="#" class="about-item">Цены и сроки</a></li>
					<li><a href="#" class="about-item">Услуги</a></li>
					<li><a href="#" class="about-item">О компании</a></li>
					<li><a href="#" class="about-item">Контакты</a></li>
					<li><a href="#" class="about-item">Оформить груз</a></li>
				</ul>
			</div>
			<div class="col-md-3 about-services">
				<h4 class="about-title">Услуги</h4>
				<ul class="list-of-about">
					<li><a href="#" class="about-item">Выкуп товара</a></li>
					<li><a href="#" class="about-item">Страховка груза</a></li>
					<li><a href="#" class="about-item">Аренда склада</a></li>
					<li><a href="#" class="about-item">Перевод денежных средств</a></li>

				</ul>
			</div>
			<div class="col-md-3 about-info">
				<h4 class="about-title">Информация</h4>
				<ul class="list-of-about">
					<li><a href="#" class="about-item">Отзывы
						
						
						
						
						
						</a></li>
					<li><a href="#" class="about-item">Требования к грузу</a></li>
					<li><a href="#" class="about-item">Договор-оферта</a></li>
					<li><a href="#" class="about-item">Как заключить договор</a></li>
					<li><a href="#" class="about-item">Способы оплаты услуг</a></li>
					<li><a href="#" class="about-item">Документы</a></li>
					<li><a href="#" class="about-item">Статьи</a></li>

				</ul>
			</div>
		</div>
	</div>
</footer>
<a href="markup.html" class="markup">markup</a>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>