<section class="questions">
    <div class="container">
        <div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="accordion-and-form ">

            <div class="col-md-8 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Как рассчитывается стоимость доставки?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Как происходит оплата за доставку груза?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Как происходит оплата за доставку груза?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Можно ли через вас оплатить товар поставщику?

                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                В чём особенность КАРГО доставки из Китая

                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                Какой срок доставки из Китая?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                                вас
                                нет
                                валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <form class="form-small">
                    <h3 class="form-small-title">Остались вопросы?</h3>
                    <h5 class="form-small-subtitle">Оставьте заявку и наш менеджер ответит вам в ближайшее время</h5>
                    <div class="input-box">
                        <label for="category-shipment"></label>
                        <input type="text" id="category-shipment" name="category-shipment" placeholder="Имя *">
                    </div>
                    <div class="input-box">
                        <label for="category-shipment"></label>
                        <input type="text" id="category-shipment" name="category-shipment" placeholder="Телефон *">
                    </div>
                    <div class="input-box">
                        <label for="category-shipment"></label>
                        <input type="text" id="category-shipment" name="category-shipment" placeholder="E-mail">
                    </div>
                    <div class="input-box">
                        <label for="category-shipment"></label>
                        <input type="text" id="category-shipment" class="input-box-main-question" name="category-shipment" placeholder="Ваш вопрос">
                    </div>
                    <button type="button" class="btn btn-primary btn-lg">Отправить запрос<img
                            src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>

                </form>
            </div>


        </div>

    </div>


</section>