<section class="container-fluid ready-for-cooperation">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3> Зарегистрируйте груз!</h3>
        </div>
        <div class="row first-description">
            <div class="col-md-6 col-sm-12">


                <p class="cooperation-description"> Для того, чтобы начать сотрудничество, необходимо оформить груз
                    указав информацию о
                    содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.

                </p>


                <p class="cooperation-description"> Если требуется проверка товара на соответсвие количеству, то при
                    оформлении груза на нашем
                    сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну
                    позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе
                    и их стоимость.</p>


                <p class="cooperation-description">До отправки груза на наш склад в Китае обязательно позаботьтесь о
                    том, чтобы сделать
                    маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы
                    смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то
                    попросите об этом своего поставщика.</p>


            </div>
            <div class="col-md-6 col-sm-12">
                <img src="assets/img/cooperattion-image-1.png" alt="" class="img-fluid description-one">

            </div>

        </div>
        <div class="row second-description">
            <div class="col-md-6">
                <img src="assets/img/cooperattion-image-2.png" alt="" class="img-fluid description-two">
            </div>
            <div class="col-md-6">

                <p class="cooperation-description">После отправки груза на наш склад в Китае, Вам обязательно
                    нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе.
                    Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации
                    Вашего груза на нашем складе.

                </p>


                <p class="cooperation-description">Если Вы оформили груз по нашей инструкции и сделали все
                    правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На
                    складе".</p>


                </ul>
                <button type="button" class="btn btn-primary btn-lg">Оформить груз<img
                        src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>

    </div>
</section>